@model List<Blog.Model.Entities.Concrete.Category>
@if (Model.Count > 0)
{
    <div class="card my-4">

        <text><h5 class="card-header">Makalesi Olan Kategoriler</h5></text>

        @foreach (var category in Model)
        {
            <div class="list-group">
                <a asp-action="Index" asp-route-categoryId="@category.ID" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    @category.Name
                    <span class="badge badge-dark badge-pill">12@*@category.BlogsCount*@</span>
                </a>
            </div>
        }

    </div>
}

@*<div class="card mb-4">
    <div class="card-header">Kategoriler</div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">Web Design</a></li>
                    <li><a href="#!">HTML</a></li>
                    <li><a href="#!">Freebies</a></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="list-unstyled mb-0">
                    <li><a href="#!">JavaScript</a></li>
                    <li><a href="#!">CSS</a></li>
                    <li><a href="#!">Tutorials</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>*@