<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog.Web</title>
    <link href="~/template/startbootstrap-blog-home-gh-pages/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" asp-action="Index" asp-controller="AppUser" asp-area="Member">Ana Sayfa <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a>
                        </li>  
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Profil
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="AppUser" asp-action="Update" asp-area="Member">Düzenle</a>

                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Kategori
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Category" asp-action="Create" asp-area="Member">Oluştur</a>
                                <a class="dropdown-item" asp-controller="Category" asp-action="List" asp-area="Member">Listele</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                                Makale
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Article" asp-action="Create" asp-area="Member">Oluştur</a>
                                <a class="dropdown-item" asp-controller="Article" asp-action="List" asp-area="Member">Listele</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="LogOut" asp-controller="AppUser" asp-area="Member">Çıkış Yap</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Blog.Web  
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
