@model RegisterUpdateDTO 

<div class="row">
    <div class="card col-md-8">
        <div class="card-text"><h2>Kullanıcı Bilgileri</h2></div>
        <form asp-action="Update" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input type="text" class="form-control" asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input type="text" class="form-control" asp-for="LastName" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label> 
                <input type="text" class="form-control" asp-for="UserName"   />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                @*Tag helper içerisinde password type set olmuyordu. O yüzden html input a geçildi.*@
                <input type="password" class="form-control" value="@Model.Password" name="Password" autocomplete="off" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input type="text" class="form-control" asp-for="Email" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input type="file" class="form-control" asp-for="Image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath"></label>
                <img src="@Model.ImagePath" asp-append-version="true" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" name="DmlType" value="Güncelle" />
                <input type="submit" class="btn btn-danger" name="DmlType" value="Sil" />
            </div>
            <input type="hidden" asp-for="ImagePath"/>
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div> 

            @{
                if (ViewBag.Message != null)
                {
                    <div class="alert alert-success" role="alert">
                        @ViewBag.Message
                    </div> 
                }
            } 
        </form>
    </div>
</div>


