@model UpdateArticleVM



<div class="row">
    <div class="card col-md-10">
        <div class="card-body">
            <div class="card-text"> <h4>MAKALE GUNCELLEME PANELİ</h4></div>
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title"  class="form-control" type="text"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea cols="20" rows="30" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image"  class="form-control" type="file"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID"></label>
                    <select  asp-for="CategoryID">
                        @foreach (var item in Model.Categories)
                       {
                           <option value="@item.ID"> @item.Name</option>
                       }
                    </select>
                    <span asp-validation-for="CategoryID" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="AppUserID"  type="hidden" />
                    <input asp-for="ID"  type="hidden" />
                </div>
                <div class="form-group">
                    <input  class="btn btn-outline-success" type="submit" value="Güncelle" />
                </div>
            </form>
        </div>
    </div>
</div>
