<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Blog.Web</title>
     <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/template/startbootstrap-blog-home-gh-pages/css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
@*    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">*@
</head>
<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container"> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">Hakkımızda</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Kayıt Ol</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogIn">Giriş Yap</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="py-2 bg-light border-bottom mb-2">
    </header>
    <!-- Page content-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Blog.Web
        </div>
    </footer>

    <!-- Bootstrap core JS--> 
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/template/startbootstrap-blog-home-gh-pages/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>






